# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CellularAutomata.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\Unity\CellularAutomata\.idea\.idea.CellularAutomata\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
